data/flows.json
[
    {
        "id": "c87936387ab0a910",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "be7fd59494a4c765",
        "type": "tab",
        "label": "Image Processor",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "c7725eaf67957113",
        "type": "tab",
        "label": "Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "258cf36716886657",
        "type": "mqtt-broker",
        "name": "local",
        "broker": "ws://127.0.0.1:1884",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "25b31ae7a8764ea3",
        "type": "object-detector-service",
        "host": "http://127.0.0.1:5000/",
        "name": "local"
    },
    {
        "id": "06804b057b5d74a0",
        "type": "mqtt out",
        "z": "c87936387ab0a910",
        "name": "",
        "topic": "parkingLot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "text/plain",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "258cf36716886657",
        "x": 1570,
        "y": 100,
        "wires": []
    },
    {
        "id": "b953a8aea354cca4",
        "type": "multipart-decoder",
        "z": "c87936387ab0a910",
        "name": "parking lot stream",
        "ret": "bin",
        "url": "http://192.168.2.20:81/",
        "tls": "",
        "delay": "200",
        "maximum": 1000000,
        "blockSize": 1,
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "ab33deadddeb6283"
            ]
        ]
    },
    {
        "id": "ab33deadddeb6283",
        "type": "base64",
        "z": "c87936387ab0a910",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 1320,
        "y": 100,
        "wires": [
            [
                "06804b057b5d74a0"
            ]
        ]
    },
    {
        "id": "e8bb017b78960df4",
        "type": "amazon-echo-hub",
        "z": "c87936387ab0a910",
        "port": "80",
        "processinput": "1",
        "discovery": true,
        "x": 470,
        "y": 580,
        "wires": [
            [
                "5d8c1129bc030b6d"
            ]
        ]
    },
    {
        "id": "5d8c1129bc030b6d",
        "type": "amazon-echo-device",
        "z": "c87936387ab0a910",
        "name": "Camera",
        "topic": "camera",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "b70029073b7e8da1",
                "37d3777c5fee765e"
            ]
        ]
    },
    {
        "id": "b10a749db9bea6b1",
        "type": "mqtt in",
        "z": "c87936387ab0a910",
        "name": "start camera",
        "topic": "camera",
        "qos": "2",
        "datatype": "auto",
        "broker": "258cf36716886657",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "bee7d7ea29a8bafd"
            ]
        ]
    },
    {
        "id": "b70029073b7e8da1",
        "type": "mqtt out",
        "z": "c87936387ab0a910",
        "name": "",
        "topic": "camera",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "258cf36716886657",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "bae0be5c118ca948",
        "type": "change",
        "z": "c87936387ab0a910",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "msg",
                "to": "true",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "b953a8aea354cca4"
            ]
        ]
    },
    {
        "id": "bee7d7ea29a8bafd",
        "type": "switch",
        "z": "c87936387ab0a910",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "bae0be5c118ca948"
            ],
            [
                "4c3fb4fae3af9176"
            ]
        ]
    },
    {
        "id": "4c3fb4fae3af9176",
        "type": "change",
        "z": "c87936387ab0a910",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "stop",
                "pt": "msg",
                "to": "true",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "b953a8aea354cca4"
            ]
        ]
    },
    {
        "id": "37d3777c5fee765e",
        "type": "debug",
        "z": "c87936387ab0a910",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "3d47b85da535563a",
        "type": "imageprocessor",
        "z": "be7fd59494a4c765",
        "name": "",
        "motionPreview": false,
        "motionPixelTheresold": "20",
        "motionPixelMinRate": "0.0001",
        "motionPixelMaxRate": "0.3",
        "motionSegmentTheresold": 0.3,
        "motionSegmentSize": "32",
        "motionSegmentMinRate": "0.001",
        "motionSegmentMaxRate": "0.3",
        "motionClusterMinCount": 1,
        "motionClusterMaxCount": 4,
        "x": 940,
        "y": 40,
        "wires": [
            [],
            [
                "07838dd3183a702b"
            ],
            [
                "4314b6a844a77c47"
            ]
        ]
    },
    {
        "id": "2a96a9a72cf3660e",
        "type": "multipart-decoder",
        "z": "be7fd59494a4c765",
        "name": "parkingLot",
        "ret": "bin",
        "url": "",
        "tls": "",
        "delay": "490",
        "maximum": 1000000,
        "blockSize": 1,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "8834ebe97cd966ea"
            ]
        ]
    },
    {
        "id": "c00eae9a5dd92894",
        "type": "inject",
        "z": "be7fd59494a4c765",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "32ab6831b38974e3",
                "507c840a76aeb405",
                "3860355803a96700"
            ]
        ]
    },
    {
        "id": "6335d76b9e711c6f",
        "type": "split",
        "z": "be7fd59494a4c765",
        "name": "serialize cluster infos",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 720,
        "y": 420,
        "wires": [
            [
                "8d44f196c8c0d33c"
            ]
        ]
    },
    {
        "id": "4c966b8fda68380b",
        "type": "jimp-image",
        "z": "be7fd59494a4c765",
        "name": "crop image to cluster frame",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "cluster[0]",
        "parameter1Type": "msg",
        "parameter2": "cluster[1]",
        "parameter2Type": "msg",
        "parameter3": "cluster[2]",
        "parameter3Type": "msg",
        "parameter4": "cluster[3]",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "clusterImage",
        "sendPropertyType": "msg",
        "parameterCount": 4,
        "jimpFunction": "crop",
        "selectedJimpFunction": {
            "name": "crop",
            "fn": "crop",
            "description": "crop to the given region",
            "parameters": [
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x coordinate to crop form"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y coordinate to crop form"
                },
                {
                    "name": "w",
                    "type": "num",
                    "required": true,
                    "hint": "the width of the crop region"
                },
                {
                    "name": "h",
                    "type": "num",
                    "required": true,
                    "hint": "the height of the crop region"
                }
            ]
        },
        "x": 1180,
        "y": 420,
        "wires": [
            [
                "fd166686b26aa363"
            ]
        ]
    },
    {
        "id": "3c9ad6d34979058d",
        "type": "object-detector",
        "z": "be7fd59494a4c765",
        "service": "25b31ae7a8764ea3",
        "method": "predict",
        "passthrough": true,
        "annotated_input": false,
        "predict_body": "",
        "predict_bodyType": "str",
        "predict_threshold": "0.5",
        "predict_thresholdType": "str",
        "name": "",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "dacda146fa23f88c"
            ]
        ]
    },
    {
        "id": "6b882cf86d068f20",
        "type": "image viewer",
        "z": "be7fd59494a4c765",
        "name": "parking lot",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1330,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "92407c13716bf719",
        "type": "switch",
        "z": "be7fd59494a4c765",
        "name": "",
        "property": "details.predictions.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "jsonata"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 560,
        "wires": [
            [],
            [
                "a2fca7613a04b06c"
            ]
        ]
    },
    {
        "id": "d17c0a990469c9f9",
        "type": "split",
        "z": "be7fd59494a4c765",
        "name": "serialize predictions",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1380,
        "y": 560,
        "wires": [
            [
                "9c697c569484a54d"
            ]
        ]
    },
    {
        "id": "a2fca7613a04b06c",
        "type": "change",
        "z": "be7fd59494a4c765",
        "name": "load prediction to payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "details.predictions",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "d17c0a990469c9f9"
            ]
        ]
    },
    {
        "id": "9c697c569484a54d",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "setting up prediction",
        "func": "// https://developer.ibm.com/exchanges/models/all/max-object-detector/\n\nconst tags = ['car', 'person', 'truck', 'bus', 'dog', 'bicycle'];\nconst newPayload = {};\nnewPayload.tag = msg.payload.label;\nnewPayload.probability = Math.round(msg.payload.probability * 100) / 100;\nnewPayload.x = msg.cluster[0] + Math.ceil(msg.cluster[2] * msg.payload.detection_box[1]);\nnewPayload.xd = Math.ceil(msg.cluster[2] * msg.payload.detection_box[1]);\nnewPayload.y = msg.cluster[1] + Math.ceil(msg.cluster[3] * msg.payload.detection_box[0]);\nnewPayload.yd = Math.ceil(msg.cluster[3] * msg.payload.detection_box[0]);\nnewPayload.w = Math.ceil(msg.cluster[2] * (msg.payload.detection_box[3]-msg.payload.detection_box[1]));\nnewPayload.h = Math.ceil(msg.cluster[3] * (msg.payload.detection_box[2]-msg.payload.detection_box[0]));\nmsg.prediction = newPayload;\nif(tags.includes(newPayload.tag)){\n    node.status({fill:\"green\",shape:\"dot\",text: msg.dateTime + \" \" +newPayload.tag});\n    return [msg, null];\n}else{\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 560,
        "wires": [
            [
                "66d1d0d432348590"
            ],
            [
                "91c3597c5de8fe21"
            ]
        ]
    },
    {
        "id": "37638195249c7ef9",
        "type": "image viewer",
        "z": "be7fd59494a4c765",
        "name": "",
        "width": "400",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1310,
        "y": 640,
        "wires": [
            [
                "7df7a2eafaa95370"
            ]
        ]
    },
    {
        "id": "ea654c77cc2fabc8",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "prepare annotation",
        "func": "msg.annotations = [ {\n    type: \"rect\",\n    x: msg.prediction.xd, \n    y: msg.prediction.yd, \n    w: msg.prediction.w, \n    h: msg.prediction.h,\n    label: msg.prediction.tag\n}];\nmsg.payload = msg.clusterImage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "1435f0288e38c91a"
            ]
        ]
    },
    {
        "id": "1435f0288e38c91a",
        "type": "annotate-image",
        "z": "be7fd59494a4c765",
        "name": "",
        "fill": "",
        "stroke": "#92d04f",
        "lineWidth": 5,
        "fontSize": "20",
        "fontColor": "#92d04f",
        "x": 720,
        "y": 640,
        "wires": [
            [
                "b85885a25f800ea9"
            ]
        ]
    },
    {
        "id": "2d151f6cee356280",
        "type": "jimp-image",
        "z": "be7fd59494a4c765",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 1190,
        "y": 640,
        "wires": [
            [
                "37638195249c7ef9"
            ]
        ]
    },
    {
        "id": "b85885a25f800ea9",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "",
        "func": "msg.annotations = [{\n        type: \"rect\",\n    x: 5, \n    y: 0, \n    w: 100, \n    h: 0,\n    label: msg.dateTime\n}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 640,
        "wires": [
            [
                "47bff1648aa969fb"
            ]
        ]
    },
    {
        "id": "47bff1648aa969fb",
        "type": "annotate-image",
        "z": "be7fd59494a4c765",
        "name": "",
        "fill": "",
        "stroke": "#ffffff",
        "lineWidth": 5,
        "fontSize": "16",
        "fontColor": "#ffff00",
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "2d151f6cee356280"
            ]
        ]
    },
    {
        "id": "8834ebe97cd966ea",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "set ts and dateTime properties",
        "func": "date = new Date();\nmsg.ts = Date.now();\nmsg.dateTime = \n            date.getFullYear() + '-' + \n            ((date.getMonth()<10)?'0':'') + (date.getMonth()+1) + '-' + \n            ((date.getDate()<10)?'0':'') + date.getDate() + ' ' + \n            ((date.getHours()<10)?'0':'') + date.getHours()+ \":\" +\n            ((date.getMinutes()<10)?'0':'') + date.getMinutes()+ \":\" +\n            ((date.getSeconds()<10)?'0':'') + date.getSeconds();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 40,
        "wires": [
            [
                "3d47b85da535563a",
                "0b2481091767ad77"
            ]
        ]
    },
    {
        "id": "cee3a05a57b7af10",
        "type": "link out",
        "z": "be7fd59494a4c765",
        "name": "motion image available",
        "mode": "link",
        "links": [],
        "x": 1175,
        "y": 120,
        "wires": []
    },
    {
        "id": "00a2ebdc3e6f485b",
        "type": "complete",
        "z": "be7fd59494a4c765",
        "name": "receive motion image",
        "scope": [
            "cee3a05a57b7af10"
        ],
        "uncaught": false,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "74cd9da2d758eb79"
            ]
        ]
    },
    {
        "id": "92c1daa135df23fc",
        "type": "change",
        "z": "be7fd59494a4c765",
        "name": "payload -> jpeg & \\n motionCluster -> payload",
        "rules": [
            {
                "t": "set",
                "p": "jpeg",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "motionCluster",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "6335d76b9e711c6f"
            ]
        ]
    },
    {
        "id": "8d44f196c8c0d33c",
        "type": "change",
        "z": "be7fd59494a4c765",
        "name": "payload -> cluster & \\n jpeg -> payload",
        "rules": [
            {
                "t": "set",
                "p": "cluster",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "jpeg",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 420,
        "wires": [
            [
                "4c966b8fda68380b"
            ]
        ]
    },
    {
        "id": "8ba5b2d3c71c91d4",
        "type": "change",
        "z": "be7fd59494a4c765",
        "name": "backup payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "clusterImage",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 560,
        "wires": [
            [
                "3c9ad6d34979058d"
            ]
        ]
    },
    {
        "id": "fd166686b26aa363",
        "type": "link out",
        "z": "be7fd59494a4c765",
        "name": "motion cluster image available",
        "mode": "link",
        "links": [],
        "x": 1335,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e1dc9176076ba38",
        "type": "complete",
        "z": "be7fd59494a4c765",
        "name": "receive motion cluster image",
        "scope": [
            "fd166686b26aa363"
        ],
        "uncaught": false,
        "x": 160,
        "y": 560,
        "wires": [
            [
                "2df16a3d1f2a9a31"
            ]
        ]
    },
    {
        "id": "3f6d50f48f94b465",
        "type": "complete",
        "z": "be7fd59494a4c765",
        "name": "receive  motion prediction image",
        "scope": [
            "66d1d0d432348590"
        ],
        "uncaught": false,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "eca05880d9d7228b"
            ]
        ]
    },
    {
        "id": "66d1d0d432348590",
        "type": "link out",
        "z": "be7fd59494a4c765",
        "name": "motion prediction image available",
        "mode": "link",
        "links": [],
        "x": 1805,
        "y": 520,
        "wires": []
    },
    {
        "id": "32ab6831b38974e3",
        "type": "change",
        "z": "be7fd59494a4c765",
        "name": "topic to parking lot",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "parkingLot",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://192.168.2.20:81/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "2a96a9a72cf3660e"
            ]
        ]
    },
    {
        "id": "507c840a76aeb405",
        "type": "change",
        "z": "be7fd59494a4c765",
        "name": "topic to front side",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "frontSide",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://192.168.2.21:81/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "cdaa46794fa5d783"
            ]
        ]
    },
    {
        "id": "cdaa46794fa5d783",
        "type": "multipart-decoder",
        "z": "be7fd59494a4c765",
        "name": "frontSide",
        "ret": "bin",
        "url": "",
        "tls": "",
        "delay": "500",
        "maximum": 1000000,
        "blockSize": 1,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "8834ebe97cd966ea"
            ]
        ]
    },
    {
        "id": "07838dd3183a702b",
        "type": "switch",
        "z": "be7fd59494a4c765",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "parkingLot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "frontSide",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "leftSide",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1130,
        "y": 40,
        "wires": [
            [
                "6b882cf86d068f20"
            ],
            [
                "9f9b7be34912c5c5"
            ],
            [
                "92f176476df373ba"
            ]
        ]
    },
    {
        "id": "9f9b7be34912c5c5",
        "type": "image viewer",
        "z": "be7fd59494a4c765",
        "name": "front side",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1320,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4314b6a844a77c47",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "topic status",
        "func": "node.status({fill:\"green\",shape:\"dot\",text: msg.dateTime + \" \" + msg.topic});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 120,
        "wires": [
            [
                "cee3a05a57b7af10"
            ]
        ]
    },
    {
        "id": "3860355803a96700",
        "type": "change",
        "z": "be7fd59494a4c765",
        "name": "topic to left side",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "leftSide",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://192.168.2.22:81/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "cdcc19c035b9140a"
            ]
        ]
    },
    {
        "id": "cdcc19c035b9140a",
        "type": "multipart-decoder",
        "z": "be7fd59494a4c765",
        "name": "leftSide",
        "ret": "bin",
        "url": "",
        "tls": "",
        "delay": "510",
        "maximum": 1000000,
        "blockSize": 1,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "8834ebe97cd966ea"
            ]
        ]
    },
    {
        "id": "92f176476df373ba",
        "type": "image viewer",
        "z": "be7fd59494a4c765",
        "name": "left side",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1500,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "0b2481091767ad77",
        "type": "debug",
        "z": "be7fd59494a4c765",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "91c3597c5de8fe21",
        "type": "debug",
        "z": "be7fd59494a4c765",
        "name": "found a tag which is not in our currrent list",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "prediction.tag",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1940,
        "y": 560,
        "wires": []
    },
    {
        "id": "74cd9da2d758eb79",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "timer 1",
        "func": "node.status({fill:\"green\",shape:\"dot\",text: \"timer: \" \n+ (Date.now() - msg.ts) + \"ms\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 420,
        "wires": [
            [
                "92c1daa135df23fc"
            ]
        ]
    },
    {
        "id": "2df16a3d1f2a9a31",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "timer 2",
        "func": "node.status({fill:\"green\",shape:\"dot\",text: \"timer: \" \n+ (Date.now() - msg.ts) + \"ms\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 560,
        "wires": [
            [
                "8ba5b2d3c71c91d4"
            ]
        ]
    },
    {
        "id": "eca05880d9d7228b",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "timer 4",
        "func": "node.status({fill:\"green\",shape:\"dot\",text: \"timer: \" \n+ (Date.now() - msg.ts) + \"ms\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 640,
        "wires": [
            [
                "ea654c77cc2fabc8"
            ]
        ]
    },
    {
        "id": "7df7a2eafaa95370",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "timer total",
        "func": "node.status({fill:\"green\",shape:\"dot\",text: \"timer: \" \n+ (Date.now() - msg.ts) + \"ms\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "dacda146fa23f88c",
        "type": "function",
        "z": "be7fd59494a4c765",
        "name": "timer 3",
        "func": "node.status({fill:\"green\",shape:\"dot\",text: \"timer: \" \n+ (Date.now() - msg.ts) + \"ms\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 560,
        "wires": [
            [
                "92407c13716bf719"
            ]
        ]
    },
    {
        "id": "4128510623ffd2c9",
        "type": "catch",
        "z": "be7fd59494a4c765",
        "name": "parkingLot error",
        "scope": [
            "2a96a9a72cf3660e"
        ],
        "uncaught": false,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "32ab6831b38974e3",
                "78e312cb348fc804"
            ]
        ]
    },
    {
        "id": "e14deaf60c7a0770",
        "type": "catch",
        "z": "be7fd59494a4c765",
        "name": "frontSide error",
        "scope": [
            "cdaa46794fa5d783"
        ],
        "uncaught": false,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "507c840a76aeb405"
            ]
        ]
    },
    {
        "id": "77d912dd196bd940",
        "type": "catch",
        "z": "be7fd59494a4c765",
        "name": "leftSide error",
        "scope": [
            "cdcc19c035b9140a"
        ],
        "uncaught": false,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "3860355803a96700"
            ]
        ]
    },
    {
        "id": "78e312cb348fc804",
        "type": "debug",
        "z": "be7fd59494a4c765",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "a56b0fe67a3b84b0",
        "type": "image viewer",
        "z": "c7725eaf67957113",
        "name": "",
        "width": "320",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 70,
        "y": 580,
        "wires": [
            [
                "4aab384f2f6d7402"
            ]
        ]
    },
    {
        "id": "7b17b8914eb575ef",
        "type": "inject",
        "z": "c7725eaf67957113",
        "name": "interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "9c1f77b4acb0274b"
            ]
        ]
    },
    {
        "id": "0952ebc7b4e27b89",
        "type": "http request",
        "z": "c7725eaf67957113",
        "name": "request image",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "query",
        "url": "http://10.16.6.180:8080/live.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "a56b0fe67a3b84b0"
            ]
        ]
    },
    {
        "id": "9c1f77b4acb0274b",
        "type": "function",
        "z": "c7725eaf67957113",
        "name": "set timestamp",
        "func": "msg = {t: msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "0952ebc7b4e27b89"
            ]
        ]
    },
    {
        "id": "04687b3e87316069",
        "type": "comment",
        "z": "c7725eaf67957113",
        "name": "ESP32Cam - Emulator",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "4aab384f2f6d7402",
        "type": "demo",
        "z": "c7725eaf67957113",
        "name": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "615d44b11f380d7c",
                "3094e22034d16350",
                "341158519a8d0d1b",
                "1a369c7d92039002",
                "d99b907dd9d82853",
                "5cb53182f382e53c"
            ]
        ]
    },
    {
        "id": "615d44b11f380d7c",
        "type": "image viewer",
        "z": "c7725eaf67957113",
        "name": "resized",
        "width": "256",
        "data": "resized",
        "dataType": "msg",
        "active": false,
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "341158519a8d0d1b",
        "type": "image viewer",
        "z": "c7725eaf67957113",
        "name": "rawDiffImage",
        "width": "256",
        "data": "rawDiffImage",
        "dataType": "msg",
        "active": false,
        "x": 730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3094e22034d16350",
        "type": "image viewer",
        "z": "c7725eaf67957113",
        "name": "buildRectImage",
        "width": "256",
        "data": "buildRectImage",
        "dataType": "msg",
        "active": false,
        "x": 1020,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e4df0879c617ad46",
        "type": "debug",
        "z": "c7725eaf67957113",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "motions",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 440,
        "wires": []
    },
    {
        "id": "1a369c7d92039002",
        "type": "switch",
        "z": "c7725eaf67957113",
        "name": "",
        "property": "motions.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "e4df0879c617ad46"
            ]
        ]
    },
    {
        "id": "d99b907dd9d82853",
        "type": "image viewer",
        "z": "c7725eaf67957113",
        "name": "motionImage",
        "width": "640",
        "data": "motionImage",
        "dataType": "msg",
        "active": false,
        "x": 430,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5cb53182f382e53c",
        "type": "delay",
        "z": "c7725eaf67957113",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "9c1f77b4acb0274b"
            ]
        ]
    }
]